<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059067369291-vtn6h38kj5u3i2a3gvdjpjsmfaffoonl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059067369291-vtn6h38kj5u3i2a3gvdjpjsmfaffoonl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1059067369291-sf1n4tt422jucidpqo80ht4pt08au30v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7iKuGyXAYEyyTqqTsZbXwKMDBUQL29IE</string>
	<key>GCM_SENDER_ID</key>
	<string>1059067369291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>budgetingapp-b789b</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetingapp-b789b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059067369291:ios:fbdb527af5bc069f503ace</string>
	<key>DATABASE_URL</key>
	<string>https://budgetingapp-b789b.firebaseio.com</string>
</dict>
</plist>